<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><i class="fa fa-globe" aria-hidden="true"></i> NWCC eBagis</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="about-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="toolsDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" id="full-extent-btn">Zoom To Full Extent</a>
          <a class="dropdown-item" href="#" id="legend-btn">Show Legend</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" id="login-btn">Login</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="downloadDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cloud-download" aria-hidden="true"></i>
          Download
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="data/boroughs.geojson" download="bouroughs.geojson" targe="_blank" >Boroughs</a>
          <a class="dropdown-item" href="data/subways.geojson" download="subways.geojson" target="_blank">Subway Lines</a>
          <a class="dropdown-item" href="data/DOITT_THEATER_01_13SEPT2010.geojson" download="theaters.geojson" target="_blank">Theaters</a>
          <a class="dropdown-item" href="data/DOITT_MUSEUM_01_13SEPT2010.geojson" download="theaters.geojson" target="_blank">Museums</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item dropdown pull-sm-right">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          Hello NAME
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Your Account</a>
          <a class="dropdown-item" href="#">Sign Out</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sign In</a>
        </div>
      </li>
    </ul>
  </div>
</nav>