https://github.com/jkeifer/drf-chunked-upload/tarball/0.1.2
https://github.com/jkeifer/arcpy-extensions/tarball/0.0.1
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
Django==1.7.4
django-celery==3.1.16
django-windows-tools==0.1.1
djangorestframework==3.0.1
GDAL==1.11.2
kombu==3.0.24
numpy==1.9.2
pytz==2014.10
https://github.com/djangonauts/django-rest-framework-gis/tarball/master
