{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}AOI Browser{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" integrity="sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'ebagis_ui/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}"/>
<link rel="stylesheet" href="{% static 'ebagis_ui/css/map.css' %}">
{% endblock %}

{% block base_content %}
<div id="sidebar">
  <div class="sidebar-wrapper" id="features">
    <div class="card">
      <div class="card-header card-heading">
        <h4 class="card-title">
          SNODAS Tools
          <button type="button" class="btn btn-sm float-right" id="sidebar-hide-btn"><i class="fa fa-chevron-left"></i></button>
        </h4>
      </div>
    </div>
    <div class="sidebar-table">
      <form id="snodas-tiles">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="snodas-on" checked>
          <label class="form-check-label" for="snodas-on">Show SNODAS</label>
        </div>
        <div class="input-group date" id="snodas-tile-date">
          <div class="input-group-prepend">
            <button id="calendar-btn" class="btn" type="button">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
          <input type="text" class="form-control">
          <div class="input-group-append">
            <button id="snodas-refresh" class="btn" type="button">
              <i class="fas fa-chevron-circle-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<button type="button" class="btn btn-sm float-left hidden" id="sidebar-show-btn"><i class="fa fa-chevron-right"></i></button>
<div id="map">
  <div id="loading">
    <div class="loader"></div>
  </div>
</div>

<div class="modal fade" id="aoiModal" tabindex="-1" role="dialog">
</div>

<div class="modal fade" id="attributionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          Developed by <a href='https://www.pdx.edu/geography/center-for-spatial-analysis-research-csar'>PSU CSAR</a>
        </h4>
      </div>
      <div class="modal-body">
        <div id="attribution"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Handbar templates -->
<!-- End Handbar templates -->
{% endblock base_content %}

{% block js %}
<script type="text/javascript">
   var POURPOINT_URL = "{% url 'pourpoint-boundary-base:list' %}";
</script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js"></script>
<script src="{% static 'ebagis_ui/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}"></script>
<!--script src="{% static 'ebagis_ui/js/Leaflet.VectorGrid.bundled.js' %}"></script-->
<script src="{% static 'ebagis_ui/js/snodas_map.js' %}"></script>
{% endblock %}
