.navbar {
  padding-left: .25rem;
  padding-right: .25rem;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.78em;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}