<script id="taskerrormodal-template" type="text/x-handlebars-template">
    <div class="modal-dialog">
        <div class="modal-content">
            {% verbatim %}
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="feature-title">{{upload_filename}}</h4>
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="feature-info">
                <p>{{{traceback}}}</p>
            </div>
            {% endverbatim %}
        </div>
    </div>
</script>