{% extends 'base.html' %}

{% block head_title %}About the Project{% endblock %}


{% block base_content %}
<h1>About this project</h1>
<p>eBAGIS is a research project produced by the Portland State University
(PSU) Department of Geography's Center for Spatial Analysis and Research
(CSAR). The work is funded by the
<a href="https://www.wcc.nrcs.usda.gov/">U.S. National Resource Conservation
Service's (NRCS) National Water and Climate Center (NWCC)</a>.</p>

<h3>Project Contributors</h3>
<p><a href="https://www.pdx.edu/geography/">Department of Geography, Portland State University</a>
	<br/>Primary investigator and main contact: Geoffrey Duh <a href="mailto:jduh@pdx.edu">(jduh@pdx.edu)</a>
	<br/>System architect and programmer: Jarrett Keifer <a href="https://github.com/jkeifer">(github.com/jkeifer)</a>
	<br/>Frontend developer: Aida Keifer <a href="https://github.com/aidakeifer">(github.com/aidakeifer)</a>
	<br/>ArcGIS Desktop add-in programmer: Lesley Bross <a href="mailto:lbross@pdx.edu">(lbross@pdx.edu)</a>
</p>
{% endblock %}
