{% extends 'base.html' %}

{% block head_title %}Download Requests{% endblock %}

{% block base_content %}
{% with request.user as user %}
<h1>Download Requests
    <a class="btn btn-refresh" title="Refresh List" onClick="history.go(0)" role="button"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
</h1>

<div class="requests">
	<table class="table request-table table-striped">
      	<thead class="thead-inverse">
	        <tr>
				<th>Status</th>
				<th>File Name</th>
				<th>Date Requested</th>
				<th>Actions</th>
	        </tr>
      	</thead>
      	<tbody>
            {% for download in downloads %}
            <tr>
                {% if download.nstatus == 'COMPLETED' %}
                <td class="align-middle"><span class="badge badge-success">Completed</span></td>
                {% elif download.nstatus == 'QUEUED'  %}
                <td class="align-middle"><span class="badge badge-primary">Queued</span></td>
                {% elif download.nstatus == 'PROCESSING'  %}
                <td class="align-middle"><span class="badge badge-primary">Processing</span></td>
                {% elif download.nstatus == 'FAILED' %}
                <td class="align-middle"><span class="badge badge-danger">Failed</span></td>
                {% elif download.nstatus == 'CANCELLED' %}
                <td class="align-middle"><span class="badge badge-warning">Cancelled</span></td>
                {% else %}
                <td class="align-middle"><span class="badge badge-dark">Unknown</span></td>
                {% endif %}

                <td class="align-middle">{{ download.filename }}</td>
                <td class="align-middle">{{ download.created_at }}</td>

                <td class="align-middle">
                    {% if download.nstatus  == 'COMPLETED' %}
                    <a class="btn btn-sm btn-success" href="{% url 'download-detail' download.id %}" role="button"><i class="fa fa-download" aria-hidden="true"></i> Get Download</a>
                    
                    {% elif download.nstatus == 'FAILED' %}
                    <button class="btn btn-sm btn-danger task-error-button" data-upload-filename="{{ download.filename }}" data-upload-traceback="{{ download.task.traceback|linebreaks }}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> View Error</button>
                    
                    {% else %}
                    <span class="badge badge-dark">N/A</span>
                    {% endif %}
                </td>
            </tr>
        	{% endfor %}
		</tbody>
	</table>

	{% if is_paginated %}
		<ul class="pagination justify-content-center">
	        <li class="page-item{% if page_obj.has_previous %}{% else %} disabled{% endif %}">
	      		<a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Previous</a>
		    </li>
	    
	    	{% for i in paginator.page_range %}
	        <li class="page-item{% if page_obj.number == i %} active{% endif %}">
    			<a class="page-link" href="?page={{ i }}">{{ i }}</a>
			</li>
	    	{% endfor %}

	    	<li class="page-item{% if page_obj.has_next	%}{% else %} disabled{% endif %}">
	      		<a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Next</a>
		    </li>
	  	</ul>
	{% endif %}
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
</div>
{% include "./handlebars/taskerror.html" %}
{% endwith %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$(document).on('click', '.task-error-button', function(event){
    var button = this;
    context = {
        'upload_filename': $(button).attr('data-upload-filename'),
        'traceback': $(button).attr('data-upload-traceback')
    };
    makeErrorModal(context);
});

var errorModalTemplate = Handlebars.compile($('#taskerrormodal-template').html());
function makeErrorModal(context) {
    $("#errorModal").html(errorModalTemplate(context));
    $("#errorModal").modal("show");
}
</script>
{% endblock %}
