{% load ebagis_utils %}

<div class="details-row card">
  <div class="details-row-header card-header" role="tab" id="{{ item.name }}{{ item.id }}" style="padding-left: {{ padding|multiply:level }}rem;" data-url="{% url 'item_details' item.classname item.id %}">
    <h6 class="mb-0"><i data-toggle="collapse" href="#collapse{{ item.name }}{{ item.id }}" aria-expanded="false" aria-controls="collapse{{ item.name }}{{ item.id }}" class="fa fa-plus-square expand-icon" aria-hidden="true"></i>
      {{ item.name }}
    </h6>
  </div>

  <div id="collapse{{ item.name }}{{ item.id }}" class="collapse" role="tabpanel" aria-labelledby="{{ item.name }}{{ item.id }}">
    <div class="card-body">

      <div id="accordion{{ item.name }}{{ item.id }}objects" role="tablist" aria-multiselectable="true">
        {% with level=level|add:1 %}

        {% for dir in item.subdirectories.all %}
          {% with item=dir template_name="aois/aoi_item.html" %}
            {% include template_name %}
          {% endwith %}
        {% endfor %}

        {% for file in item.files.all %}
        <div class="card">
          <div class="file-name card-header" role="tab" id="{{ item.name }}-file-{{ file.id }}" style="padding-left: {{ padding|multiply:level }}rem;" data-url="{% url 'item_details' file.classname file.id %}">
            <h6 class="mb-0">
              {{ file.name }}
            </h6>
          </div>
        </div>
        {% endfor %}

        {% endwith %}
      </div>

    </div>
  </div>

</div>