{% extends 'base.html' %}
{% load ebagis_utils %}
{% load staticfiles %}

{% block head_title %}AOI {{ aoi.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'ebagis_ui/css/details.css' %}">
{% endblock %}

{% block base_content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <div class="sidebar-wrapper" id="aoi-info">
        <div class="sidebar-details-table">
          <div class="list" id="file-list" role="tablist" aria-multiselectable="false">
            <div id="aoi-name" class="card-header">
              <h2 style="padding-left: 0.5rem">{{ aoi.name }}</h2> 
            </div>
            <div id="accordionAOI" role="tablist" aria-multiselectable="true">
              
              {% for item in aoi.contents.items %}
                  {% if item %}
                      {% include "./aoi_item.html" with padding=1.2 level=1 %}
                  {% endif %}
              {% endfor %}

            </div>
          </div>
        </div>
      </div>

    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>{{ aoi.name }}</h1>
      {% if aoi.comment == '' %}
      <p class="no-value">No description</p>
      {% else %}
      <p>{{ aoi.comment }}</p>
      {% endif %}

      <p><strong>Created by:</strong> {{ aoi.created_by.username }}</p>

      <p><strong>Created at:</strong> {{ aoi.created_at }}</p>

      <p><strong>Last updated:</strong> 
        {% if aoi.modified_at and aoi.modified_at != aoi.created_at %}
        {{ aoi.modified_at }}
        {% else %}
        <span class="no-value">never</span>
        {% endif %}
      </p>

      {% with aoi|content_type as ctype %}
      <form method="post" action="{% url 'aoi_details' aoi.id %}">
          {% csrf_token %}
          <input name="object_id" value="{{ aoi.id }}" hidden="true">
          <input name="content_type" value="{{ ctype }}" hidden="true">
          <input name="object_name" vlaue="{{ aoi.name }}" hidden="true">
          <button class="btn btn-primary" type="submit" name="action_download"><i class="fa fa-download" aria-hidden="true"></i> Submit Download Request</button>
      </form>
      {% endwith %}
    </main>
  </div>
</div>
{% endblock base_content %}

{% block extra_body %}
<script>
var objects = {}

$('#file-list').on('show.bs.collapse', '.details-row', function(e) {
  $(this).find('.expand-icon').first().removeClass('fa-plus-square').addClass('fa-minus-square');
  e.stopPropagation();
  //e.stopImmediatePropagation();
});

$('#file-list').on('hide.bs.collapse', '.details-row', function(e) {
  $(this).find('.expand-icon').first().removeClass('fa-minus-square').addClass('fa-plus-square');
  e.stopPropagation();
  //e.stopImmediatePropagation();
});

$('#file-list').on('click', '.card-header', function(e) {
  var element = $(this);
  if (!('aoi-name' in objects)) {
    objects['aoi-name'] = $('main').html();
  }
  if (element.attr('id') in objects) {
    $('main').html(objects[element.attr('id')]);
  } else {
    jQuery.ajax({
        'type': 'GET',
        'url': element.attr('data-url'),
        'success': function(data) {
            objects[element.attr('id')] = data;
            $('main').html(data);
        }
    });
  }
});
</script>
{% endblock %}