{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Enter your e-mail and we'll send you a reset link.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" value="Reset My Password" class="btn btn-primary btn-block account-btn">Reset My Password</button>
        <!--input type="submit" value="Reset My Password" /-->
    </form>

{% endblock %}
